@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
* {
  font-family: "Red Hat Mono", monospace;
}

.navbar {
  background-color: #ffffff; /* Navbar background */
  position: fixed; /* Fix the navbar at the top */
  top: -1px;
  left: -1px;
  width: 100%; /* Full width */
  outline: 5px solid rgb(0, 85, 135);
  display: flex; /* Flexbox for alignment */
  justify-content: center; /* Center align */
  padding: 15px; /* Padding for the navbar */
  z-index: 1000; /* Ensure it stays on top */
}

#home {
  display: grid;
  align-items: center;
  justify-content: center;
  color: rgb(0, 85, 135);
  text-decoration: none;
  z-index: 1000;
}

#dropbtn {
  position: absolute; /* Position to the left */
  left: -1px;
  top: -1px; /* Distance from the left */
  color: rgb(0, 85, 135); /* Text color */
  border: none; /* No border */
  padding: 15px; /* Padding */
  cursor: pointer; /* Pointer cursor */
  font-size: 17px; /* Font size */
}

/* Add a red background color to navbar links on hover */
#dropbtn:hover {
  background-color: rgba(0, 0, 0, 0.349);
}



.sidenav {
  height: 0;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111111f8;
  opacity: 1;
  overflow-y: hidden;
  transition: 0.8s;
  padding-top: 45px;
  z-index: 100;
}

.sidenav a {
  padding: 15px 20px 20px 10px;
  text-decoration: none;
  filter: none;
  font-size: 18px;
  color: #ffffff;
  opacity: 5;
  display: block;
  transition: 0.3s;
  z-index: 500;
}

.sidenav a:hover {
  color: #808080;
}


