@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

* {
  font-family: "Red Hat Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%
}

body {
  position: relative;
  min-height: 100vh;
}

/* Top navigation bar */
.navbar {
  background-color: rgba(184, 213, 228, 0.884); /* Navbar background */
  position: fixed;
  width: 100%; 
  outline: 5px solid rgb(0, 85, 135);
  display: flex; 
  align-items: center;
  justify-content: center; 
  padding-block: 15px;
  z-index: 1000;
}

#home {
  font-size: 20px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  color: rgb(0, 85, 135);
  text-decoration: none;
  z-index: 1000;
}

#dropbtn {
  position: absolute;
  left: 0px;
  top: -1px;
  color: rgb(0, 85, 135);
  border: none; 
  padding: 15px; 
  cursor: pointer; 
  font-size: 21px; 
}


/* Drop down from top navigation bar */
#navDiv {
  position: relative;
  width: 100%; /* Full width */
  padding: 10px; /* Padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

#dropdown {
  position: fixed;
  width: 100%;
  max-height: 0; /* Start with no height */
  overflow: hidden; /* Hide overflow */
  transition: max-height 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
  opacity: 0; /* Start invisible */
  left: 0; /* Align to the left */
  top: 55px; /* Adjust position below button */
  background-color: rgba(184, 213, 228, 0.808); /* Background color of dropdown */
  box-shadow: 0px 8px 16px rgba(62, 72, 77, 0.808); /* Shadow effect */
  z-index: 1; /* Ensure it appears above other elements */
}

#dropdown.show {
  max-height: 500px; /* Set a max height for the dropdown when shown */
  opacity: 1; /* Make it visible */
}

#dropdown a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center; 
}

#dropdown a:hover, #dropbtn:hover, #home:hover{
  color: #f1f1f1; /* Text change on hover */
}

.wrapper {
  display: grid;
  grid-gap: 75px;
}

/* Home page story boxes */
.container {
  display: flex;
  grid-gap: 50px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; 
}

.containerItem {
  outline: 2px solid rgb(0, 0, 0);
  height: 400px;
  width: 400px;
  min-height: 400px;
  max-height: 400px;
  max-width: 500px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.7s, box-shadow 0.7s;
}
.containerItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.containerText {
  padding: 10px 10px 10px 10px;
  
}


/* Footer */
footer {
  /* position: absolute; */
  height: 100px;
  width: 100%;
  background: #eee;
}